@font-face {
    font-family: 'eng';
    src: url('@/assets/fonts/eng.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ko_r';
    src: url('@/assets/fonts/ko_r.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}